.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: azure;
  }

  .box {
    background-color: azure;
    text-align: center;
    flex-direction: row;
    margin: 7px;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
  }

  #imgRedonda {
    width: 200px;
    height: 200px;
    border-radius: 160px;
    margin: 20px;
  }
  